@{
    ViewData["Title"] = "Latihan";
    @section Scripts{
        <script src="~/js/pokemon.js" asp-append-version="true"></script>
    }
}
<div class="container my-3">
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover table-sm nowrap" width=100% id="tableSW">
            <thead class="thead-dark">
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div class="modal" id="detilModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">Detail Pokemon</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p id="detilPoke"></p>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#infoTab">Informasi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#statusTab">Status</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#skillTab">Ability</a>
                    </li>
                </ul>   
                <div class="tab-content">
                    <div class="tab-pane container active p-0" id="infoTab">
                        <table class="table table-bordered table-sm table-hover m-0" id="infoPoke"></table>
                    </div>
                    <div class="tab-pane container fade p-0" id="statusTab">
                        <table class="table table-bordered table-sm table-hover m-0">
                            <thead>
                                <tr>
                                    <th width=30%>Stat</th>
                                    <th width=5%>Effort</th>
                                    <th>Base Stat</th>
                                </tr>
                            </thead>
                            <tbody id="statusPoke">
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane container fade p-0" id="skillTab">
                        <table class="table table-bordered table-sm table-hover m-0">
                            <thead>
                                <tr>
                                    <th width=30%>Skill</th>
                                    <th>Effect</th>
                                </tr>
                            </thead>
                            <tbody id="skillPoke">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

         </div>
    </div>
</div>